<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h2>常用工具集</h2>
<hr/>
{{range .Tools}}
&gt; <a href={{.Url}}>{{.Name}}</a><br/>
{{end}}
{{range .ExTools}}
&gt; <a href={{.Url}}>{{.Name}}</a><br/>
{{end}}
<footer style="color: #888; text-align: center; padding: 25px 0 50px; line-height: 2em;">
    &copy; 2019 Yimismi
    <br>
    The night is dark and full of terrors.
    <br>
    <a href="http://www.beian.miit.gov.cn" target="_blank">陕ICP备18001327号</a>
</footer>
</body>

</html>